* {
    font-family: "Montserrat", sans-serif;
}

.background-img {
  background-image: url('images/background1.jpg');
  background-size: 100% 75%;
  background-repeat: no-repeat;
}

.my-photo-container {
    display: flex;
    justify-content: center;
    margin: 30px 0;
}

.my-img {
    max-height: 250px;
    padding: 10px 0;
}

.nav-header {
    background-color: #555498;
    margin-bottom: 30px;
}

.card-image{
  min-height: 219px;
}

.w100 {
    font-weight: 100;
}

.w200 {
    font-weight: 200;
}

.w300 {
    font-weight: 300;
}

.w400 {
    font-weight: 400;
}

.w500 {
    font-weight: 500;
}

.w600 {
    font-weight: 600;
}

.brand-logo {
    font-size: 1.9em;
    white-space: nowrap;
}

.nav-item {
    font-size: 1em;
}

.footer {}

.footer-row {
    background-color: #555498;
    margin-bottom: 0;
    padding: 30px 0;
}

.footer-div {
    min-width: 70px;
}